{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css">   
    <title>WishList</title>
</head>
<body>
    <h1>Delete Item</h1>

    <h4>Are you sure you want to delete <span class="teal-text">{{ object.description }}</span>?</h4>
  
    <form action="" method="POST">
      {% csrf_token %}
      <input type="submit" value="Yes - Delete!" class="btn">
      <a href="{% url 'item_list' %}">Cancel</a>
    </form>
</body>
</html>